@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.modal{
    width: 100%;
background: rgba(40, 42, 42, 0.5);
display:none;
}

.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.modal-box{
    padding:25px;
    width: 300px;
    height: 200px;
    background: white;
    border-radius: 3px;
}

.subtitle{
    font-weight: 700;
    line-height: 30px;
}